.login{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 5%;
    border: 10px double $color-primary;
    border-radius: 5px;
    padding: 1%;
    height: 500px;
    h2{
        margin: 0;
        color: $color-secondary;
        font-size: 26px;
    }
    &__box{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        &__nickname{
            width: 33%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
        }
        &__email{
            width: 33%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
        }
    }
    &__redirect{
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;
        a{
            text-decoration: none;
            font-size: 20px;
            color: $color-tipography;
            &:hover{
                color: $color-tertiary;
                font-weight: bold;
            }
        }
    }
}